<h1>Face</h1>

<h2> first_name: <%= @face.first_name %></h2>
<h2> lasst_name: <%= @face.last_name %></h2>
<h2> age: <%= @face.age %></h2>
<h2> hair_color: <%= @face.hair_color %></h2>
<h2> eye_color: <%= @face.eye_color %></h2>
<h2> gender: <%= @face.gender %></h2>
<h2> alive: <%= @face.alive %></h2>



<%= link_to 'Back', faces_path %>